.popular {
    padding: 90px 0;
    .popular__info {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 40px;
            font-weight: 500;
            color: #0B254B;
            line-height: 57px;
        }
        p {
            font-size: 18px;
            font-weight: 500;
            color: #5E6E89;
        }
    }

    .popular__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        .popular__card {
            img {
                background-color: #7b7b7b0f;
            }
            h3 {
                font-size: 16px;
                font-weight: 500;
                margin-top: 5px;
            }
            p {
                color: $primary-color;
                font-size: 20px;
                font-weight: 500;
                translate: 200px 10px;
            }
        }
    }
}